* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins" , sans-serif;
    background-color: #FCFAF6;
}

#main {
    width: 40%;
    margin-top: 12%;
    margin-left: auto;
    margin-right: auto;
    color: #1F1D1B;
    /*filter: blur(1px);*/
}

#web-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#web-title {
    font-size: 45px;
    font-weight: 600;
    padding-left: 5px;
}

#add-project-btn {
    width: 25%;
    padding: 4px 8px;
    color: #1F1D1B;
    background-color: #FCFAF6;
    border: 1px dashed #1F1D1B;
    border-radius: 10px;
    gap: 10px;
    cursor: pointer;
}

#add-project-btn p {
    padding: 2px;
    font-size: 14px;
    font-weight: 500;
}

#add-project-btn:hover {
    color: #1F1D1B;
    background-color: #FCFAF6;
    border: 2px dashed #1F1D1B;
}

#project-bar {
    background-color: #FCFAF6;
    border-radius: 5px;
    border-bottom: 1px solid #1F1D1B;
    overflow: auto;
    display: flex;
    align-items: center;
}

#project-list {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.project {
    font-weight: 500;
    text-transform: capitalize;
    padding: 8px 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    display: flex; 
    align-items: center; 
    height: 100%;
    cursor: pointer;
}

.active {
    color: #FCFAF6;
    background-color: #1F1D1B;
}

.project:hover {
    color: #FCFAF6;
    background-color: #1F1D1B;
}

.active:hover {
    color: white;
    background-color: black;
}

.active svg{
    fill: #FCFAF6;
    height: 24px;
}


#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 15px;
}

#header h3 {
    text-transform: uppercase;
    font-size: 24px;
    padding-left: 5px;
}

#header button {
    font-size: 15px;
    margin-right: 5px;
    padding: 10px 15px;
    color: #FCFAF6;
    background-color: #1F1D1B;
    border: 1px solid #FCFAF6;
    border-radius: 25px;
    cursor: pointer;
}

#project-delete-btn:hover {
    color: white;
    background-color: black;
}

#list-screen {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#task-list {
    height: auto;
    max-height: 55vh;
    overflow: auto;
}

#add-list-btn {
    width: 100%;
    padding: 4px 8px;
    color: #1F1D1B;
    background-color: #FCFAF6;
    border: 1px dashed #1F1D1B;
    border-radius: 10px;
    gap: 10px;
    cursor: pointer;
}


#add-list-btn p {
    padding: 4px;
    font-size: 14px;
    font-weight: 500;
}

#add-list-btn:hover {
    color: #1F1D1B;
    background-color: #FCFAF6;
    border: 2px dashed #1F1D1B;
}

/* Project From */

#project-section {
    display: none;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    width: 35%;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #1F1D1B;
    align-items: center;
    border-radius: 10px;
    background-color: #FCFAF6;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#project-section-items {
    width: 80%;
}

#project-header {
    font-size: 24px;
    font-weight: 600;
    margin: 15px 0px 5px 0px;
}

#new-project-form input{
    width: 100%;
    height: 32px;
    padding: 4px 6px;
    border-radius: 5px;
    border: 1px solid #1F1D1B;
    outline: none;
}

#new-project-form input::placeholder{
    font-size: 16px;
}

#new-project-form-btns {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 10px 0px 25px 0px;
    gap: 5px;
}

#new-project-form-btns button {
    width: 100%;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #1F1D1B;
}

#project-add-btn {
    background-color: #1F1D1B;
    color: #FCFAF6;
    cursor: pointer;
}

#project-cancel-btn {
    background-color: #FCFAF6;
    color: #1F1D1B;
    cursor: pointer;
}

#project-add-btn:hover {
    background-color: #FCFAF6;
    color: #1F1D1B;
}

#project-cancel-btn:hover {
    background-color: #1F1D1B;
    color: #FCFAF6;
}

/* Task Form */

#task-section {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    width: 35%;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #1F1D1B;
    align-items: center;
    border-radius: 10px;
    background-color: #FCFAF6;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#task-section-items {
    width: 80%;
}

#task-header {
    font-size: 24px;
    font-weight: 600;
    margin: 15px 0px 5px 0px;
}

#new-task-form-top {
    display: flex;
    flex-direction: row;
}

#new-task-form-top input{
    display: flex;
    align-items: center;
    
}

#task-title {
    flex: 70%;
    margin-right: 5px;
    height: 32px;
    padding: 4px 6px;
    border-radius: 5px;
    border: 1px solid #1F1D1B;
    outline: none;
}

#task-date {
    flex: 30%;
    height: 32px;
    border-radius: 5px;
    border: 1px solid #1F1D1B;
    outline: none;
}

#task-description {
    width: 100%;
    margin: 5px 0px;
    padding: 10px 10px;
    font-size: 15px;
    font-family: "Poppins";
}

#new-task-form-btns {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 25px 0px;
    gap: 5px;
}

#new-task-form-btns button {
    width: 100%;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #1F1D1B;
}

#task-add-btn {
    background-color: #1F1D1B;
    color: #FCFAF6;
    cursor: pointer;
}

#task-cancel-btn {
    background-color: #FCFAF6;
    color: #1F1D1B;
    cursor: pointer;
}

#task-add-btn:hover {
    background-color: #FCFAF6;
    color: #1F1D1B;
}

#task-cancel-btn:hover {
    background-color: #1F1D1B;
    color: #FCFAF6;
}

/* task objects */

.task {
    display: flex;
    flex-direction: row;
    border: 1px solid #1F1D1B;
    padding: 4px 8px;
    border-radius: 10px;
    margin: 10px 0px;
}

#task-left {
    flex: 55%;
    display: flex;
    flex-direction: row;
    padding: 2px 0px 0px 10px;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
}

#task-left p {
    margin-left: 15px;
}

#task-right {
    flex: 45%;
    display: flex;
    flex-direction: row;
    padding: 2px;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
    gap: 5px;
}

#task-right svg {
    fill: #1F1D1B;
    height: 24px;
    cursor: pointer;
}

#task-right svg:hover {
    fill: black;
}

#task-right-svgs {
    display: flex;
    align-items: center;
    justify-content: center;
}

#task-right p {
    margin-right: 15px;
}

#task-right button {
    margin-right: 10px;
    padding: 4px 8px;
    color: #1F1D1B;
    background-color: #FCFAF6;
    border: 1px solid #1F1D1B;
    border-radius: 4px;
}

#task-right button:hover {
    cursor: pointer;
    color: #FCFAF6;
    background-color: #1F1D1B;
    border: 1px solid #1F1D1B;
}

